<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.webservicestest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:nombre=".ui.activities.ListUsersActivity"></activity>
        <activity android:nombre=".ui.activities.MainActivity">
            <intent-filter>
                <action android:nombre="android.intent.action.MAIN" />

                <category android:nombre="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:nombre="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:nombre="android.permission.INTERNET" />

</manifest>